// _colors.scss

// Colour Palette 1er (primary, mains)
$forest:      #339933;
$guardsman:   #CC0000;
$kelly:       #33CC00;
$sky:         #3399CC;
$sunglow:     #FFCC33;

// Colour Palette 2e (secondary, contrasts)
$aqua:        #00FFFF;
$black:       #000000;
$fuchsia:     #FF00FF;
$indigo:      #660099;
$lime:        #00FF00;
$red:         #FF0000;
$white:       #FFFFFF;

// Colour Palette 3e (Tertiary, aliases)
$cyan:        #00FFFF;
$magenta:     #FF00FF;
