// _colors.scss

// Colour Palette 1er (primary, mains)
$forest:      #339933;
  $forest-light:             rgba(181, 225, 181, 1); // #b5e1b5
  $forest-light-transparent: rgba(181, 225, 181, .7);
$guardsman:   #CC0000;
$kelly:       #33CC00;
$sky:         #3399CC;
$sunglow:     #FFCC33;

// Colour Palette 2e (secondary, contrasts)
$aqua:        #00FFFF;
$black:       #000000;
$fuchsia:     #FF00FF;
$grey:        #efefef;
$indigo:      #660099;
$lime:        #00FF00;
$orange:      #FF9900;
$red:         #FF0000;
$white:       #FFFFFF;
$gray-shadow: rgba(0, 0, 0, .2);

// Colour Palette 3e (tertiary, aliases)
$cyan:        #00FFFF;
$gray:        #CCCCCC;
$magenta:     #FF00FF;

// Box Shadows
$primary-box-shadow:   0px 2px 4px #b5e1b54b;
$secondary-box-shadow: 0px 2px 4px #b5e1b54b;
