// Define variables for your color scheme

// For example:
$red: #CC0000;
$blue: #172774;
$yellow: #FFCC33;
$orange: #E67E22;
$green: #339933;
$light-green: #33CC00;
$gray: #0E0000;
$light-gray: #F4F4F4;
