// _dashboard.scss

#dashboard-text-profile,
#dashboard-list-restrictions,
#dashboard-list-friends,
#dashboard-container-friends-find,
#dashboard-container-friends-see {
  text-align: center;
}

#dashboard-text-profile {
  margin: 10px 0px 10px 0px;
}

#dashboard-list-restrictions-welcome {
  margin: 10px 0px 10px 0px;
}
#dashboard-list-restrictions-items {
  list-style: none;
  margin: 10px 0px 10px 0px;
  padding: 0px;
}

#dashboard-friends {
  margin: 30px 0px 10px 0px;
  padding: 0px;
}
#dashboard-list-friends {
  margin: 10px 0px 10px 0px;
}
#dashboard-links-friends,
#dashboard-search {
  display: flex;
  justify-content: center;
}
#dashboard-container-friends-find,
#dashboard-container-friends-see {
  width: 50%;
}
#dashboard-search {
  margin: 10px 0px 10px 0px;
}
