// _dashboard.scss

// dashboard containers
.dashboard-container {
  padding: 0px 80px;
}

.dashboard-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0px;
  padding: 0xp auto;
}

.dashboard-content {
  background-color: $white;
  border-radius: 25px;
  box-shadow: 2px 1px 6px #b5e1b5;
  margin-top: 25px;
  padding: 25px;
  width: 100%;
  min-height: 400px;
  position: relative;
}

#edit-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}


