
// dashboard containers

.dashboard-container{
  padding: 0px 80px;
}

.dashboard-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px;
  padding: 0xp auto;
}

.dashboard-content{
  margin-top: 25px;
  border: 2px solid $grey;
  border-radius: 25px;
  width: 100%;
  padding: 25px;
  background-color: $white;
}


#dash-finder-titlebar-left,
#dash-finder-titlebar-right {
  height: 80px;
  margin: 10px 0px 10px 0px;
}
#dash-finder-titlebar-left {
  display: flex;
  align-items: center;
  width: 50%;
}
#dash-finder-titlebar-left-text {
  font-weight: bold;
  margin: 10px 0px 10px 0px;
  text-align: left;
  width: 100%;
}
#dash-finder-titlebar-right {
  display: flex;
  align-items: center;
  max-height: 80px;
  width: 50%;
}
#dash-finder-titlebar-right form {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
  width: 100%;
}
#dash-finder-titlebar-right-bar {
  border: 2px solid $forest;
  border-radius: 25px;
  width: 75%;
}
#dash-finder-titlebar-right-button {
  background-color: $white;
  border: 2px solid $grey;
  border-radius: 25px;
  color: $forest;
  margin-left: 5px;
  width: 25%;
}

#edit-icon {
  position:absolute;
  right:5px;
  top:5px;
}
