<!-- _requests_pending.html.erb !-->

<!-- Friend Requests Sent -->

  <div class='cards-friends-requests'>
    <div class='requests-head'>
      <div class='text-center'>
        <h5>
            Pending Requests
        </h5>
      </div>
    </div> <!-- end requests-head !-->
    <div class="cards-friends">
    <% @pending.each do |friend| %>
      <div class='card-user'>
        <div class='card-user-friends card-border card-position'>
          <%= image_tag friend.avatar_path, 
              class: 'avatar-sm', 
              id: 'dash-friends-card-head-pic', 
              alt: 'Profile Picture', 
              data: { title: 'profile_pic' }, 
              'aria-haspopup': true, 
              'aria-expanded': false 
          %>

          <div class='card-text'>
            <%= friend.name %>
          </div>

          <div class='button-pending friend-button'>
              Pending
          </div>
        </div>   
      </div>  
    <% end %> 
    </div>
  </div> 
