<!-- _requests.html.erb !-->

<!-- Friend Requests Received -->
 

  <div class='cards-friends-requests'>
     <div class='requests-head'>
      <div class='text-center'>
        <h5>
            You have a friend request
        </h5>
      </div>
    </div> <!-- end requests-head !-->
    <div class="cards-friends">
      <% @requests.each do |friend| %>
      <div class='card-user'>
        <div class="card-user-friends card-border">
          <%= image_tag friend.avatar_path, 
              class: 'avatar-sm', 
              id: 'dash-friends-card-head-pic', 
              alt: 'Profile Picture', 
              data: { title: 'profile_pic' }, 
              'aria-haspopup': true, 
              'aria-expanded': false 
          %>

          <div class="card-text">
            <%= friend.name %>
          </div>
          <div class="buttons-friends-request d-flex justify-content-between">
            <%= form_tag (
                { controller: 'pages', 
                  action: 'accept', 
                  method: 'post', 
                  id: friend.id}
                ) do 
            %>
              <input class='friend-accept friend-button' type=submit value='Accept'>
            <% end %>

            <%= form_tag (
                { controller: 'pages', 
                  action: 'decline', 
                  method: 'post', 
                  id: friend.id}
                ) do 
            %>
              <input class='friend-reject friend-button' type=submit value='Decline'>
            <% end %>
          </div>
        </div> <!-- end card-user-friends card-border card-position !-->
      </div> <!-- end card-user !-->
      <% end %> <!-- end @requests.each !-->
    </div>
  </div> <!-- end cards-friends !-->

