<!-- _requests_pending.html.erb !-->

<!-- Friend Requests Sent -->
<div class='requests-head'>
  <div class='requests-subtitle requests-sent'>
    <h6>
      Sent
    </h6>
  </div>
</div> <!-- end requests-head !-->

<div class='cards-friends'>
  <% @pending.each do |friend| %>
  <div class='card-user'>
    <div class='card-user-friends card-border card-position'>
      <%= image_tag friend.avatar_path, 
          class: 'avatar', 
          id: 'dash-friends-card-head-pic', 
          alt: 'Profile Picture', 
          data: { title: 'profile_pic' }, 
          'aria-haspopup': true, 
          'aria-expanded': false 
      %>

      <div class='card-text'>
        <%= friend.name %>
      </div>

      <div class='card-text'>
        <h6>
          Waiting...
        </h6>
      </div>

    </div> <!-- end card-user-friends card-border card-position !-->  
  </div> <!-- end card-user !-->
  <% end %> <!-- end @pending.each !-->
</div> <!-- end cards-friends !-->
