<!-- Friend requests received -->
<div id='dash-container-friends-see'>
  <h3>Friend Requests:</h3>

  <% @requests.each do |friend| %>
  <%= friend.name%>
  <%= form_tag ({controller: 'pages', action: 'accept', method: 'post', id: friend.id}) do %>
    <input class="" type=submit value='Accept'>
    <% end %>

  <%= form_tag ({controller: 'pages', action: 'decline', method: 'post', id: friend.id}) do %>
    <input class="" type=submit value='Decline'>
    <% end %>
  <% end %>
</div>

<!-- STYLING NEEDED HERE TOO -->
 <% unless @user.pending_friends.empty? %>
    <%= render 'friends/requests_sent' %>
  <% end %>
