<!-- Search for friends -->
<div class="friends-search-head">
  <h5>
    Friends
  </h5> 

  <div class="search">
    <%= form_tag dashboard_path, method: :get, action: :search do %>
    <%= text_field_tag :query, params[:query],
    class: 'form-control',
    placeholder: 'find by username'%>
    <%= submit_tag "find", class: 'green-button-sm' %>
    <% end %>
  </div>  
</div>


