<footer class='footer d-flex align-items-center'>
  <div class='container'>
    <div class='footer-content-wrap'>
      <p>
        Food Fluent, Inc.
      </p>
      <p>
        5333 Av. Casgrain, Ste. 102
      </p>
      <p>
        Montréal, Québec H2T 1X3
      </p>
      <p>
        email: info@foodfluent.xyz
      </p>
      <div class='media-links d-flex justify-content-center align-items-center'>
        <%= image_tag 'social/facebook.png', class:'media-link'%>
        <%= image_tag 'social/instagram.png' , class:'media-link'%>
        <%= image_tag 'social/twitter.png' , class:'media-link'%>
        <%= image_tag 'social/linkedin.png' , class:'media-link'%>
      </div>
    </div>
  </div>
</footer>
