  <%= form_tag restaurants_path, method: :get do %>
    <% @user.friends.each do |friend| %>

      <label class="green-checkbox-container">
    <input type="checkbox" checked="check">
    <span class="green-checkbox">

      <%= check_box_tag 'friend_ids[]', friend.id %>
    </span>
  </label>

        <% end %>
  <%= submit_tag 'Find a restaurant' %>
<% end %>

