<div class="card-user"> 
  <div class="card-user-main card-user-friends">     
    <%= image_tag @user.avatar_path,
        class: 'avatar',
        alt: 'Profile Picture',
        data: { title: 'profile_pic' },
        'aria-haspopup': true,
        'aria-expanded': false
    %>
    <div class="card-text">
      <div><strong>Welcome, <%= @user.name.split.first %>!</strong></div>
    </div>
  </div>
</div>
        
