<div class="card-user"> 
  <div class="card-user-main">     
    <%= image_tag @user.avatar_path,
        class: 'avatar',
        alt: 'Profile Picture',
        data: { title: 'profile_pic' },
        'aria-haspopup': true,
        'aria-expanded': false
    %>
    <div class="card-text">
      <h5>Welcome</h5>
      <p class='card-user-name'> 
        <strong> <%= @user.name.split.first %>!</strong>
      </p>        
    </div>
  </div>
</div>
        