<div class='banner'>
  <div class='container content-wrap content-border align-items-center w-100 h-100'>
    <h1>
      food fluent
    </h1>
    <%= image_tag 'cutlery-green', class:'logo' %>
    <h2>
      a restaurant for everyone
    </h2>
    <div class='call-to-action'>
      <h3>You shouldn't have to choose between your lifestyle and your friends!</h3>
      <p class='text-center' id='button-started'>
        Find a restaurant for everyone today! <%= link_to 'Get Started!', dashboard_path, id:'green-button' %>
      </p>
    </div>
  </div>
</div>
