<%= link_to "see your dashboard", dashboard_path %>
<div class="banner">
  <div class="container content-wrap align-items-center h-100">
    <h1>Food Fluent</h1>
    <%= image_tag 'cutlery', class:'logo' %>
    <h3>A restaurant for everyone</h3>
  </div>
</div>
