<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" position="relative">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
</div>
<div class="modal-body">
  <ul>
    <% @grouped["starter"].each do |dish| %>
      <%= dish.name %>
        <%= image_tag dish.img_url, size: "30x30" %>
        <ul>
          <% dish.health_labels.each do |label| %>
          <button class= "btn btn-primary" disabled="true">
            <%= label.name %></button>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
