<div class="container">
  <div class="py-5">
    <% if @restaurants.empty? %>
      <%= render 'restaurants/index_all'%>
    <% else %>
      <%= render 'restaurants/index_search' %>
    <% end %>
  </div>
</div>
<% console %>
