.banner {
  color: $forest;
  margin: 50px auto;
  width: 70%;
  }

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  padding: 50px;
  border-radius: 25px;
}

.content-border {
  border: 3px solid $forest;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.logo {
  margin-bottom: 50px;
  width: 200px;
}

.call-to-action {
 margin-top: 50px;
}
.call-to-action p {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  width: 100%;
}
