.banner {
  color: $forest;
  padding: 50px;
  width: 100%;
}

.content-wrap {
  width: 60%;
  display: flex;
  background-color: rgba(230,230,230,0.4);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 25px;
  padding-left: 30px;
  border-radius: 24px;
  margin-right: 100px;
}

.content-wrap h1 {
  font-size: 4.3em;
  text-transform: uppercase;
  font-weight: 800;
}

.content-wrap h2 {
  font-size: 1.4em;
  text-transform: uppercase;
}

.logo {
  margin-bottom: 50px;
  width: 300px;
}

.call-to-action {
  margin-top: 0.4em;
}

.call-to-action h3 {
  font-size: 1.35em;
}

.call-to-action p {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  padding-left: 0px;
  width: 100%;
}