// _banner.scss
// (connected with home.html.erb)

.banner {
  color: $forest;
  padding: 50px;
  width: 100%;
}
@media (max-width: 359px) {
  .banner {
    padding: 0;
  }
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 780px) {
  .content-wrap {
    margin-right: 100px;
    padding: 25px;
    padding-left: 30px;
    width: 60%;
  }
} 

.content-wrap h1 {
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-radius: 25px;
  font-size: 4.3em;
  font-weight: 800;
  margin: 15px 10px;
  padding:10px;
}
@media (max-width: 399px) {
  .content-wrap h1 {
    font-size: 3em;
  }
}
.content-wrap h2 {
  font-size: 1.4em;
  margin: 10px 15px;
}
@media (min-width: 540px) and (max-width: 699px) {
  .content-wrap h2 {
    padding-left: 30px;
    width: 100%
  }
}

.call-to-action {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.call-to-action h3 {
  font-size: 1.35em;
  margin: 10px 15px;
}

.call-to-action > .container {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.call-to-action > #button-landing{
  align-self: end;
  max-width: 25%;
  text-align: center;
}

@media screen and (max-width: 567px){
  .content-wrap h1 {
    font-size: 1.3em;
    margin: 20px 10px;
  }

  .content-wrap h2 {
    font-size: 1.1em;
    text-align: center;
  }

  .call-to-action{
    margin-top: 50px;
  }

  .call-to-action h3 {
    font-size: 0.9em;
  }

  .call-to-action > .container{
    justify-content: center;
  }
} 
