#green-button {
    background-color: $white;
    padding: 10px 20px;
    border: 1px solid $forest;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 25px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

#green-button:hover{
    background-color: $white;
    border: 1px solid $orange;
    // color: $orange;
    text-decoration: none;
    box-shadow: inset 0 0 8px $orange;
}