#green-button {
    background-color: $forest;
    border: 1px solid $white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: $white;
    margin-left: 25px;
    padding: 10px 20px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
#green-button:hover{
    background-color: $kelly;
    border: 1px solid $sky;
    box-shadow: inset 0 0 8px $sky;
    color: $white;
    text-decoration: none;
}
