// _cards.scss

.cards {
  display: grid;
  grid-gap: 75px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards-friends {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  gap: 4px;
  grid-auto-flow: column;
}

#card-username {
  margin: 0px;
  font-weight: bold;
}

.card-category {
  background: $white;
  border-radius: 25px;
  box-shadow: 4px 4px 12px $gray;
}

.card-category > .card-img {
  border-radius: 25px 25px 0 0;
  height: 125px;
  object-fit: cover;
}

.card-category h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-category p {
  font-size: 12px;
  margin: 0;
  opacity: .7;
}

.card-category .card-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: inherit;
  color: $forest;
  padding: 16px;
  position: relative;
  flex-direction: column;
}

.icon {
  height: 30px;
  width: 30px;
  margin-bottom: 3px;
}
.icon-sm {
  height: 25px;
  width: 25px;
}
.icon-xs {
  height: 20px;
  width: 20px;
}

.card-wrap {
  position: relative;
  height: 200px;
  // width: 257px;
}

.card-layer {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: $forest-light-transparent;
  border-radius: inherit;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;

  // transition effect unnecessary
  transition: opacity .2s, visibility .2s, box-shadow .2s;
}

.card-layer > .card-hover-text {
  color: $forest!important;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 24px;
}

.card-wrap:hover .card-layer {
  box-shadow: inset 10px 20px 80px $forest-light, inset -20px -10px 80px $gray;
  opacity: 1;
  visibility: visible;
}

.card-hover-text {
  transform: translateY(1em);
  transition: .2s;
}

.card_wrap:hover .card-hover-text {
  transform: translateY(0);
}

.card-hover-text:hover {
  text-decoration: none;
  color: $forest-clear!important;
}

.menu.show-meals,
.dishes {
  display: none;
}

.menu,
.dishes.show-meals  {
  display: inherit;
}

// cards - restaurant show
.card-restaurant {
  border-radius: 25px;
  box-shadow: 4px 4px 8px $forest-light-transparent!important;
  margin: 20px auto;
  position: relative;
  width: 90%;
}
.card-restaurant-img {
  background-size: cover;
  border-radius: 25px 0px 0px 25px;
  flex-grow: 1;
  width: 60%;
}

.restaurant-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.contact-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}
.contact-item > p {
  align-self: center;
  padding-left: 50px;
}

.card-match-calculation {
  position: absolute;
  background-color: $forest;
  border-radius: 25px;
  color: $white;
  left: 25px;
  padding: 5px 10px;
  top: 25px;
}

.card-match-calculation-sm {
  background-color: $forest;
  border-radius: 25px;
  color: $white;
  opacity: 1!important;
  padding: 10px;
}

.card-container-design {
  background-color: $white;
  border: 3px solid $forest;
}

// user card
.card-user {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 10px;
}

// main user card 
.card-user-main {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  border-radius: 25px;
  box-shadow: 2px 1px 6px $forest-light;
  height: 200px;
  padding: 20px;
  width: 200px;
}

// friends card 
.card-user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  border: 2px solid transparent;
  border-radius: 25px;
  box-shadow: 2px 1px 6px $forest-light;
  min-height: 200px;
  padding: 10px;
  width: 200px;
} 

.card-user-friends {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 10px;
  height: 150px;
  transition: background-color 0.3s ease; 
  width: 200px;
}
.card-background:hover {
  background-color: $forest-light-transparent;
  border-color: $forest;
  box-shadow: inset -2px 4px 8px $forest, inset 2px -4px 8px $forest;
  color: $forest;
  text-decoration: none;
}

.card-background{
  background-color: $white;
  transition: background-color 0.3s ease;
}

.card-user-content:hover > .avatar {
  border-color: $forest;
}

.card-border {
  border: 2px solid $forest;
  box-shadow: 0px 2px 6px $gray, 2px 2px 6px $gray;
}

.diet-c-text{
  font-weight: bold;
}

.diet-profile {
  position: relative;
  flex-grow: 1;
  max-width: 50%;
}

// diet profile styles
.user-profile-container {
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  width: 100%;
}

.user-preference {
  padding: 10px 0px;
}

.user-profile-head {
  padding: 10px;
  text-align: center;
}

.user-preference-list {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

.user-preference-labels {
  display: flex;
  background-color: $forest-light-transparent;
  border: 1px solid $forest;
  border-radius: 25px;
  margin-top: 3px;
  text-align: center;
}

.user-text {
  align-self: center;
  margin-bottom: 0px!important;
  margin-top: 0px!important;
  min-width: 100px;
  padding: 5px 10px;
}

// friends
.icon-name {
  position: absolute;
  background-color: $forest-light;
  border: 1px solid $forest;
  border-radius: 10px;
  color: $black;
  font-family: 'Biryani';
  font-size: 10px;
  opacity: .9;
  padding: 0px 6px;
  visibility: hidden;
  width: auto;
  white-space: nowrap;
}

.icon-sm:hover > .icon-name {
  visibility: visible;
}

.card-position {
  position: relative;
}

.item-position {
  display: flex;
  flex-direction:column;
  position: absolute;
  justify-content: start;
  height: 100%;
  padding: 10px 5px;
  right: 0.5em;
  top: 0;
}

.item-position > .icon-sm {
  margin-bottom: 10px;
}

.diet-container {
  background: $white;
  border-radius: 25px;
  box-shadow: 2px 1px 6px #b5e1b5;
  margin-top: 50px;
  padding: 25px;
  position: relative;
  text-align: center; 
  width: 100%;
}

@media (min-width: 540px) {
  .diet-content {
    display: flex;
    justify-content: space-around;
  }
}

.diet-card {
  padding: 0px 20px;
  width: 200px;
}

.diet-title {
  padding: 15px;
}

.diet-item {
  display:flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}

.diet-item:hover{
  background-color: $forest-light-transparent;
}

.diet-item > div {
  margin: 0px 0px 0px 10px;
}

.diet-item > input {
  width: 25%;
}

.diet-card-text {
  margin: 0px auto;
  text-align: center;
}

// sent friend request text
.card-text h6 {
  background-color: $sky;
  border-radius: 25px;
  color: black;
  opacity: .8;
  padding: 5px;
}


// pending requests

.card-request{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.card-pending{
  border: 2px solid $forest;
  padding: 10px;
  border-radius: 25px;
  min-width: 200px;
}

.card-request-content{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.card-request-content > img{
  margin-bottom: 5px;
}

.friends-requests{
  display:flex;
}

.card-absolute-checkbox{
  position: absolute;
  top: 10px;
  left: 10px;
}
