// _cards.scss

.cards {
  display: grid;
  grid-gap: 75px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-category {
  background: $white;
  border-radius: 25px;
  box-shadow: 4px 4px 12px $grey;
}

.card-category > .card-img {
  border-radius: 25px 25px 0 0;
  height: 125px;
  object-fit: cover;
}

.card-category h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-category p {
  font-size: 12px;
  margin: 0;
  opacity: .7;
}

.card-category .card-description {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: inherit;
  color: $forest;
  padding: 16px;
  position: relative;
}

.icon {
  height: 25px;
  width: 25px;
}

.card-wrap {
  position: relative;
  height: 200px;
  // width: 257px;
}

.card-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $forest-light-transparent;
  border-radius: inherit;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.card-layer > .card-hover-text {
  color: $forest!important;
  font-size: 24px;
  padding-bottom: 24px;
  font-weight: 900;
}


.card-wrap:hover .card-layer {
  visibility: visible;
  opacity: 1;
  text-decoration: underline;
}

.card-hover-text {
  transition: .2s;
  transform: translateY(1em);
}

.card_wrap:hover .card-hover-text {
  transform: translateY(0);
}

.card-hover-text:hover {
  text-decoration: none;
}

.dishes {
  display: none;
}

.dishes.show-meals {
  display: inherit;
}

// cards - restaurant show


.card-restaurant{
  width: 90%;
  border-radius: 25px;
  margin: 20px auto;
  position: relative;
  box-shadow: 4px 4px 8px $grey;
}

.card-restaurant-img{
  width: 60%;
  flex-grow: 1;
  border-radius: 25px 0px 0px 25px;
  background-size: cover;
}

.restaurant-contact-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.contact-item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contact-item > p {
  padding-left: 50px;
  align-self: center;
}
.card-match-calculation {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: $forest;
  color: $white;
  padding: 5px 10px;
  border-radius: 25px;
}

.card-match-calculation-sm {
  background-color: $forest;
  color: $white;
  padding: 10px;
  border-radius: 25px;
  align-self: center;
  opacity: 1!important;
}

.card-container-design {
  border: 3px solid $forest;
  background-color: $white;
}
