.footer{
    margin-top:auto;
    box-shadow: 0 4px 12px $forest;
    color: $forest;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content-wrap{
    padding: 25px;
    text-align: center;
}

.media-link {
    width: 32px;
    height: 32px;
    margin: 0 10px;
}

p {
  font-size: 12px;
  line-height: 1;
}