.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#nav {
  box-shadow: 0px 4px 12px $forest-light;  
  margin-bottom: 50px;
  background-color: $white;
}
