// _navbar.scss

.navbar-lewagon {
  background: white;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link-image{
  height: 50px;
  width: 50px;
}

.navbar-shadow{
 box-shadow:0px 1px 2px $forest-light-transparent;
}

.navbar-flex {
  border-radius: 15px;
  width: 200px;
}

.dropdown-custom{
  color: $forest!important;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-menu {
  border: 2px double $forest!important;
  border-radius: 15px;
  margin-top: 10px;
}

.navbar-links {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  padding: 0px!important;
}

.navbar-link {
  margin: 5px;
  padding: 10px;
  text-align: center;
  background-color: trasparent;
  transition: background-color 0.3s ease, border 0.3s ease;
  width: 100%;
  border-radius: 25px!important;
}

.navbar-link:hover{
  background-color: $forest-light-transparent;
  border: 2px solid $forest;
  color: $forest;
  text-decoration: none;
}

.navbar-link > a {
  text-decoration: none;
}

.nav-link-image:hover {
  filter: opacity(0.7) drop-shadow(0 0 0 $forest-light-transparent);
}


