// _navbar.scss

#nav {
  display: flex;
  background: $white;
  box-shadow: $primary-box-shadow;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 8; // _utilities.scss: main{} +1
}

#nav-home img,
#nav-collapse-list-item img {
  height: 40px!important;
  width: 40px!important;
}
#nav-home img:hover {
  filter: opacity(0.7) drop-shadow(0 0 0 $forest-light);
}

#nav-collapse {
  flex-grow: 0;
}
#nav-collapse-list {
  float: right;
}
#nav-collapse-list-item {
  border: 4px double $grey;
  border-radius: 50%;
  max-height: 48px;
  max-width: 48px;
}
#nav-collapse-list-item img {
  cursor: pointer;
}
#nav-collapse-list-item:hover {
  border: 4px double $forest;
}
#nav-collapse-list-item-box {
  border: 2px solid $forest;
  border-radius: 25px;
  margin-top: 5px;
  float: right;
}
#nav-collapse-list-item-links .dropdown-item {
  color: $forest;
}
#nav-collapse-list-item-links .dropdown-item:hover {
  background-color: $forest-light;
  border-radius: 25px;
  color: $black;
}

#nav-plain-list-item-container {
  border: 2px solid $forest;
  border-radius: 25px;
  justify-content: space-around;
  margin: 0px 5px;
  max-width: 100%;
}
#nav-plain-list-item-login,
#nav-plain-list-item-signup {
  color: $forest;
}
#nav-plain-list-item-login:hover,
#nav-plain-list-item-signup:hover {
  background-color: $forest-light;
  border-radius: 25px;
  color: $black;
}
