// _utilities.scss

html {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  color: $forest;
  margin-bottom: 0px!important;
  min-height: 100vh;
  padding-bottom: 250px;
}

main {
  z-index: 7; // _navbar.scss: .sticky{} -1
}

h1,
h2,
h3,
h4,
h5 {
  color: $forest;
  font: Marmelad;
}
h1 {
  font-size: 48px
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}

ul,
ol {
  color: $forest;
  font: 20px Biryani;
}

p,
li {
  color: $forest;
  font: 12px Biryani;
}

.bg-wrapper {
  position: absolute;
  bottom: 0;
  left: -410px;
  opacity: .7;
  overflow: hidden;
  top: 19px;
  width: 70vw;
  z-index: -1000;
}

// input form placeholder centering
::placeholder {
  text-align: center;
}
:-moz-placeholder { // Firefox 18
  text-align: center;  
}
::-moz-placeholder { // Firefox 19+
  text-align: center;  
}
:-ms-input-placeholder { // Internet Explorer
  text-align: center; 
}
::-webkit-input-placeholder { // Edge
  text-align: center;
}
