html {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  color: $forest;
  margin-bottom: 0px!important;
  min-height: 100vh;
  padding-bottom:250px;
}

.bg-wrapper {
  position: absolute;
  left: -410px;
  top: 19px;
  width: 70vw;
  z-index: -1000;
  overflow: hidden;
  bottom: 0;
}

