<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=UTF-8'/>
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
